{% extends 'base.html.twig' %}

{% block page_title %}
    {{ 'ExtendedPunchIn' }}
{% endblock %}

{% block page_subtitle %}
    {{ 'Author: NightSquawk Tech (nightsquawk.tech)' }}
{% endblock %}

{% block main %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">{{ 'Plugin Information' }}</h3>
        </div>
        <div class="box-body">
            <p>{{ 'Plugin Name: ExtendedPunchIn' }}</p>
            <p>{{ 'Author: NightSquawk Tech (nightsquawk.tech)' }}</p>
        </div>
    </div>
{% endblock %}
